# prod
***REMOVED***/

# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
***REMOVED***/
.wrangler

# env
***REMOVED***
***REMOVED***.production
.dev.vars

# logs
logs/
***REMOVED***
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
***REMOVED***
